.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}

.box-container .box {
    flex: 1 1 15rem;
    text-align: center;
}

.box-container .box h3 {
    color: #7c7c7c;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.box-container .box a {
    display: block;
    color: #a7a6a6;
    padding: 0.7rem 0;
}

.box-container .box a:hover {
    color: #fff;
    text-decoration: underline;
}

.box-container .box a:hover img {
    margin-top: 1rem;
}

.credit {
    text-align: center;
    margin-top: 1.5 rem;
    padding-top: 2.5rem;
    color: #7a7a7a;
    border-top: .1rem solid rgba(0, 0, 0, 1);
}

.credit span {
    color: var(--antiquewhite)
}
